* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

section {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(600px, 1fr));
    gap: 20px;
}

.product-item {
    background-color: #fff;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

}

.product-item:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.product-image {
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: contain;
    border-radius: 10px;
}

.product-title {
    font-size: 18px;
    font-weight: bold;
    margin-top: 15px;
    color: #333;
}

.product-description {
    font-size: 14px;
    color: #777;
    margin-top: 10px;
}

.product-price {
    font-size: 16px;
    color: #E63946;
    margin-top: 10px;
    font-weight: bold;
}

.product-rating {
    font-size: 14px;
    margin-top: 10px;
    color: #FFA726;
}

